* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Small device: up to 576 px */
body {
  background-color: #1a0b2e;
  /* max-width: 440px; */
  max-width: 576px;
  margin: 0 auto;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Shared style */
.btn {
  background: linear-gradient(40deg, #f7e93f, #fb09b4, #9100b8);
  border: none;
  padding: 5px 10px;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}

/* Header Nav */
nav .logo {
  padding: 20px;
  font-size: 23px;
  font-weight: bold;
}
nav .logo .color-title {
  background: linear-gradient(40deg, #f7e93f, #fb09b4, #9100b8);

  -webkit-background-clip: text;
  /* clips the gradient to the shape of the text. */
  -webkit-text-fill-color: transparent;
  /* transparent makes the text itself invisible so only the gradient shows. */
}

.nav-content .nav-links li {
  list-style: none;
  padding: 10px;
  align-items: flex-start;
}

.nav-content .nav-links li a {
  color: #ffffff;
  text-decoration: none;
}

header .nav-content {
  display: none;
}
.nav-btn {
  display: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Banner section */
.banner {
  /* max-width: 576px; */
  margin: 0 auto;
}
.banner .banner-container {
  background-image: url(./assets/hero-bg.png);
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .banner-container .center-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  width: 120px;
  height: auto;
}
.icon-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -93%);
  width: 40px;
  height: auto;
}
.banner-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.banner-text-wrapper p {
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  padding-bottom: 10px;
  text-align: center;
}
.banner-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.banner-btn .sub-btn {
  background-color: transparent;
  color: #05ce79;
  border-color: #05ce79;
  padding: 8px 16px;
  border-radius: 138px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.banner-text {
  margin-top: 240px;
}

/* ------------------- */

/* Large Device: above 992 px */
@media (min-width: 992px) {
    /* header section */
  body {
    max-width: 1300px;
  }
  nav {
    max-width: 850px;
    margin: 0 auto;
  }
  .banner .banner-container {
    width: 100%;
    height: 100vh;
  }
  header .nav-content {
    display: block;
  }
  .menu-burger {
    display: none;
  }
  .nav-content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
  }
  .nav-links {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
  }

  .banner .banner-container .center-image {
    width: 220px;
    height: auto;
  }
  .icon-image {
    width: 100px;
    height: auto;
  }
  /* end header */

  /* ======= */
}
