* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Small device: up to 576 px */
body {
  background-color: #1a0b2e;
  /* max-width: 440px; */
  max-width: 576px;
  margin: 0 auto;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Shared style */
.btn {
  background: linear-gradient(40deg, #f7e93f, #fb09b4, #9100b8);
  border: none;
  padding: 5px 10px;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}
p,
span {
  color: #f7f7f9;
}

/* Header Nav */
nav .logo {
  padding: 20px;
  font-size: 23px;
  font-weight: bold;
}
nav .logo .color-title {
  background: linear-gradient(40deg, #f7e93f, #fb09b4, #9100b8);

  -webkit-background-clip: text;
  /* clips the gradient to the shape of the text. */
  -webkit-text-fill-color: transparent;
  /* transparent makes the text itself invisible so only the gradient shows. */
}

.nav-content .nav-links li {
  list-style: none;
  padding: 10px;
  align-items: flex-start;
}

.nav-content .nav-links li a {
  color: #ffffff;
  text-decoration: none;
}

header .nav-content {
  display: none;
}
.nav-btn {
  display: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Banner section */
.banner {
  /* max-width: 576px; */
  margin: 0 auto;
}
.banner .banner-container {
  background-image: url(./assets/hero-bg.png);
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .banner-container .center-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -85%);
  width: 190px;
  height: auto;
}
.icon-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -99%);
  width: 90px;
  height: auto;
}
.banner-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.banner-text-wrapper p {
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  padding-bottom: 10px;
  text-align: center;
}
.banner-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.banner-btn .sub-btn {
  background-color: transparent;
  color: #05ce79;
  border-color: #05ce79;
  padding: 8px 16px;
  border-radius: 138px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.banner-text {
  padding-top: 240px;
}

/* Start About Section */
.about-container .about-text-container {
  text-align: center;
}
.about-container .about-des {
  font-size: 16px;
  line-height: 22px;
  color: #aeaec0;
  margin-bottom: 24px;
}

/* statistics-items  */
.statistics-items .statistics-items-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;

  justify-items: center;
  align-items: center;
}
.statistics-items-wrapper .stat-card h2 {
  color: #00ff88;
  text-align: center;
  font-weight: bolder;
}

.statistics-items-wrapper .stat-card span {
  color: #f7f7f9;
  font-size: 12px;
}
.statistics-items {
  padding: 30px 0;
  max-width: 440px;

  border-top: 1px solid rgb(62, 55, 55);
  margin: 0 auto;
}
/* Why Choose section */
.why-choose-container-wrapper {
  background-color: #1e0a35;
  /* background-color: red; */
}
.why-choose-container-wrapper .choose-text {
  text-align: center;
  padding: 19px 0;
}
.why-card-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  justify-items: center;
}
.why-card-wrapper .why-card {
  min-height: 200px;
  max-width: 400px;
  width: 100%;

  border-radius: 20px;
  background-color: #2a0f4d;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
}

.why-card-wrapper .why-card .why-img {
  width: 40px;
  height: 53px;
}
.why-card-wrapper .why-card p {
  color: #aeaec0;
}
/* Episode section */
.episode-container-wrapper .choose-text {
  text-align: center;
  padding: 25px 0;
}
.ep-card-wrapper {
  max-width: 576px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  justify-items: center;

  align-items: center;
}
.ep-card-wrapper .ep-card {
  width: 380px;
}
.ep-text-wrapper p {
  font-size: 14px;
  color: #aeaec0;
  padding: 10px 0;
  line-height: 1.6;
}
.ep-text-wrapper {
  border-radius: 0 0 20px 20px;
}
.ep-text-wrapper .ep-img {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  padding-bottom: 17px;
}
.video-wrapper iframe {
  width: 100%;
  aspect-ratio: 2 / 1;

  border-radius: 20px 20px 0 0;
}
.ep-text-wrapper {
  background-color: #250d44;
}
/* ------------------- */

/* Large Device: above 992 px */
@media (min-width: 992px) {
  /* header section */
  body {
    max-width: 1300px;
  }
  nav {
    max-width: 850px;
    margin: 0 auto;
  }
  .banner .banner-container {
    width: 100%;
    height: 100vh;
  }
  header .nav-content {
    display: block;
  }
  .menu-burger {
    display: none;
  }
  .nav-content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
  }
  .nav-links {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
  }

  .banner .banner-container .center-image {
    width: 220px;
    height: auto;
  }
  .icon-image {
    width: 100px;
    height: auto;
  }
  .nav-btn {
    display: block;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
  }
  .banner {
    margin-bottom: 50px;
    /* border:3px solid red;  */
  }

  /* end header */
  /* about  */
  .about-container .about-des {
    font-size: 9px;
    line-height: 20px;
    padding: 14px 0;
  }
  /* statistics-items  */
  .about-container .about-des {
    font-size: 17px;
    line-height: 22px;
  }
  .statistics-items .statistics-items-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    justify-items: center;

    align-items: center;
  }
  .statistics-items {
    max-width: 850px;
    margin: 0 auto;
  }
  .statistics-items-wrapper .stat-card span {
    font-size: 16px;
  }

  /* Why cards */
  .why-card-wrapper {
    max-width: 850px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 10px;
  }
  .why-card-wrapper .why-card {
    max-width: 100%;
  }

  .card-1 {
    grid-row: span 2;
  }
  .card-2 {
    grid-column: span 2;
  }
  .card-3 {
    grid-column: span 2;
  }
  .card-4 {
    grid-column: span 2;
  }
  /* episode   */
  .ep-card-wrapper .ep-card {
    width: 250px;
    height: 100px;
  }
  .video-wrapper iframe {
    width: 100%;
    height: 100%;
    /* aspect-ratio: 2 / 1; */
  }
  .ep-card-wrapper {
    max-width: 850px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;

    align-items: center;
  }
  /* ======= */
}
